.pokedex-body {
  background-color: aliceblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;  
}

.poke-card {
  align-items: center;
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 10%;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

.poke-info {
  color: darkslategrey;
}

.poke-image {
  height: 200px;
}
